* {
  font-family: "Ubuntu", sans-serif;
}

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
}

.tag {
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border-radius: 0.9rem;
  font-weight: 400;
}
