* {
  font-family: "Ubuntu", sans-serif;
}

.main {
  width: 460px;
  border-color: yellow;
  margin-top: 2rem;
  margin-left: 1rem;
  padding-bottom: 0.2rem;
  outline: 2px;
  outline-style: double;
  outline-color: black;
}

.img {
  display: block;
  top: 0;
  width: 460px;
}

.title {
  color: #222;
  text-align: center;
  font-weight: 700;
}

.description {
  color: #222;
  text-align: left;
  margin: 1rem 1.5rem 0.7rem 1.5rem;
  font-weight: 400;
}

/* Wrapper for the tags */

.tag-wrapper {
  padding: 0.5rem;
}
